.Rproj.user
.Rhistory
.RData
*.tar.gz
*.zip
src-i386
src-x64
doxygen
src/*.o
src/*.so
src/*.dll
rcat.pdf
*.bak
test*
bin
obj
rcat.bib
P_climate_1209.dat
climate3.txt
dist_101208.out
dist_101208.txt
*.layout
